<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mi primera WebApp</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <div>
          <h1><a href="">Mi primer Blog con Django</a></h1>
      </div>

      <div>
          <br />
          <br />
          <br />
      </div>

      <div>
          <p>
              publicado: 16.05.2018, 13:25
          </p>
          <h2><a href="">Mi primer publicación</a></h2>
          <p>
              Django es un framework de desarrollo web de código abierto,
              escrito en Python, que respeta el patrón de diseño conocido como
              Modelo–vista–template.
              Fue desarrollado en origen para gestionar varias páginas
              orientadas a noticias de la World Company de Lawrence, Kansas, y
              fue liberada al público bajo una licencia BSD en julio de 2005;
              el framework fue nombrado en alusión al guitarrista de jazz
              gitano Django Reinhardt.
          </p>
     </div>

     <div>
         <p>
             Publicado en 16.05.2018, 16:40
         </p>
         <h2><a href="">Mi segunda publicación</a></h2>
         <p>
             La meta fundamental de Django es facilitar la creación de sitios
             web complejos. Django pone énfasis en el re-uso, la conectividad
             y extensibilidad de componentes, el desarrollo rápido y el
             principio No te repitas (DRY, del inglés Don't Repeat Yourself).
         </p>
     </div>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
